@import "tailwindcss";

@theme {
  --color-luxury-teal: #0d9488;
  --color-luxury-magenta: #d946ef;
  --color-kennel-gold: #ffd700;
  --color-kennel-slate: #0f172a;
  --color-kennel-muted: #94a3b8;
}

body {
  background-color: #020617;
  color: #e2e8f0;
}
